.not-found {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 14px;
  background-color: #f6f6f6;
}

.not-found__img {
  width: 60%;
  object-fit: contain;
  margin-bottom: 180px;
}

@media screen and (min-width: 1200px) {
  .not-found__img {
    width: 30%;
    margin-bottom: 140px;
  }
}
